<h2> Weapon List</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Description</th>
            <th>Ammunition</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let weapon of weapons">
            <td> {{ weapon.title }} </td>
            <td> {{ weapon.category }} </td>
            <td> {{ weapon.description }} </td>
            <td> {{ weapon.ammunition }} </td>
            <td>
                <button (click)="updateWeapon(weapon.id)" class="btn btn-info"> Update</button>
                <button (click)="deleteWeapon(weapon.id)" class="btn btn-danger" style="margin-left: 10px">
                    Delete</button>
                <button (click)="weaponDetails(weapon.id)" class="btn btn-info" style="margin-left: 10px">
                    View</button>
            </td>
        </tr>
    </tbody>
</table>